<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<loqate_settings>
            <capture_settings>
                <enable_customer_account>1</enable_customer_account>
                <enable_checkout>1</enable_checkout>
                <enable_customer_account_admin>1</enable_customer_account_admin>
                <enable_create_order_admin>1</enable_create_order_admin>
            </capture_settings>
            <address_settings>
                <avc_verification_status>P</avc_verification_status>
                <avc_post_match_level>4</avc_post_match_level>
                <avc_pre_match_level>0</avc_pre_match_level>
                <avc_parsing_status>U</avc_parsing_status>
                <avc_lexicon_identification_match_level>0</avc_lexicon_identification_match_level>
                <avc_context_identification_match_level>0</avc_context_identification_match_level>
                <avc_postcode_status>P0</avc_postcode_status>
                <avc_matchscore>95</avc_matchscore>
                <address_quality_index>A</address_quality_index>
                <enable_customer_account>1</enable_customer_account>
                <enable_checkout>1</enable_checkout>
                <enable_customer_account_admin>1</enable_customer_account_admin>
                <enable_create_order_admin>1</enable_create_order_admin>
                <enable_customer_import>1</enable_customer_import>
            </address_settings>
            <email_settings>
                <prevent_submit>0</prevent_submit>
                <enable_customer_account>1</enable_customer_account>
                <enable_register>1</enable_register>
                <enable_checkout>1</enable_checkout>
                <enable_customer_account_admin>1</enable_customer_account_admin>
                <enable_create_order_admin>1</enable_create_order_admin>
                <enable_accept_valid_catch_all>1</enable_accept_valid_catch_all>
                <email_validation_timeout_value>15000</email_validation_timeout_value>
            </email_settings>
            <phone_settings>
                <prevent_submit>0</prevent_submit>
                <enable_customer_account>1</enable_customer_account>
                <enable_checkout>1</enable_checkout>
                <enable_customer_account_admin>1</enable_customer_account_admin>
                <enable_create_order_admin>1</enable_create_order_admin>
            </phone_settings>
            <ipcountry_settings>
                <enable_customer_account>1</enable_customer_account>
                <enable_checkout>1</enable_checkout>
            </ipcountry_settings>
		</loqate_settings>
	</default>
</config>
