# Copy this file to devcontainer.env and fill in your Magento Marketplace credentials.
# Obtain them at https://commercemarketplace.adobe.com/ under My Profile > Access Keys.
MAG_REPO_PUBLIC_KEY=PUT_YOUR_PUBLIC_KEY_HERE
MAG_REPO_PRIVATE_KEY=PUT_YOUR_PRIVATE_KEY_HERE